body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}



#header{
background-color: rgb(77, 71, 71);
font-family: "Nunito", sans-serif;
display: flex;
flex-direction: column;

}



#bouton{
    font-family: "Nunito", sans-serif;
    
}



#nav{
    font-family: "Nunito", sans-serif;
}

li{
    list-style: none;
}

#presentation{
    font-family: "Nunito", sans-serif;
    
}



#activites{
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
 
}

ul{
    display: flex;
    justify-content: space-around;
}


a{
    text-decoration: none;
    color: blanchedalmond;
}


#activites img {
    width: 250px;
}

#temoignages{
    font-family: "Nunito", sans-serif;
}
